:host {
  display: inline-block;
}

.front-select-container {
  position: relative;

  > select {
    appearance: none;
    width: 100%;
    font-size: 14px;
    color: var(--color-light-text-secondary);
    padding: 10px;
    background-color: #fff;
    border: 1px solid var(--color-light-border-default);
    cursor: pointer;
  }
}

.front-select-container::before,
.front-select-container::after {
  position: absolute;
  content: '';
  right: 1rem;
  pointer-events: none;
  background-color: #6d747a;
  display: block;
}

.front-select-container::before {
  background: url('./assets/images/arrow-up.png') no-repeat center center/cover;
  width: 15px;
  height: 15px;
  bottom: 45%;
}

.front-select-container::after {
  background: url('./assets/images/arrow-up.png') no-repeat center center/cover;
  width: 15px;
  height: 15px;
  top: 45%;
  transform: rotate(180deg);
}
