@import '../../style/mixins/button';

.info-modal {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 401px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px #00000029;
  padding: 24px;
  z-index: 9999;
  text-align: center;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &-title {
      font-family: var(--h1-ff);
      color: var(--menu-items);
      margin: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
    }

    &-description {
      margin: 0 0 24px;
      font-size: 16px;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-around;
    gap: 8px;

    &-primary,
    &-secondary {
      @include front-button;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 14px;
    }

    &-primary {
      background-color: var(--color-buy-button);
    }

    &-secondary {
      background-color: #ffffff;
      color: #293b50;
      border: 1px solid #c2cfde;
    }
  }
}

.info-modal.-center {
  top: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);
}

.info-modal.-hide-buttons .info-modal-header-description {
  margin: 0;
}
