.variations {
  display: flex;
  flex-wrap: wrap;
  --variations-gap: calc(var(--fc-margin-width) * 2);
  gap: var(--variations-gap);
  .item {
    min-width: calc(50% - var(--variations-gap));
    flex-grow: 2;
  }

  &.-showcase {
    .item {
      width: 100%;
    }
  }
}
