:host {
  display: inline-block;
  width: 100%;
}

.buy-together-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  gap: var(--gap-grid);
  grid-template-areas: 'main plus products btn-buy';

  @media screen and (max-width: 425px) {
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 'main' 'plus' 'products' 'btn-buy';
  }
}

.product-wrapper {
  display: flex;
  align-items: center;
  max-width: 400px;
  padding: calc(var(--margin-width) * 2);
  border: 1px solid var(--color-light-border-default);
  gap: 20px;
  .checkbox-wrapper {
    margin: 5px;
  }
  @media screen and (max-width: var(--mobile-max-width)) {
    flex-direction: column;
  }
}

.product-main {
  grid-area: main;
}

.products-order-bump {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-grid);
  grid-area: products;
}

.products-order-bump {
  grid-area: products;
}

.plus-icon {
  display: inline-block;
  grid-area: plus;
  align-self: center;
}

.btn-buy {
  display: flex;
  grid-area: btn-buy;
  width: 100%;
}
