.tab-selector {
  &-tabs {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
    border-bottom: 1px solid #c2cfde;
    padding: 0 8px;

    span {
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      padding: 8px 16px;
      position: relative;
      width: 100%;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: transparent;
        transition: background-color 0.3s;
      }

      &.active {
        color: var(--color-secondary);
        &::after {
          background-color: var(--color-secondary);
        }
      }
    }

    .product-count {
      padding: 0 4px;
      border-radius: 4px;
      background-color: #f5f7fa;
      color: var(--color-primary);
      font-size: 12px;
    }
  }

  &-tabs-content {
    &-item {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
