@import '../../style/mixins/button';
@import '../../style/mixins/screen-media';

.buy-together-cart {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #dee2e6;
    padding: 24px;

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      @include for-desktop {
        flex-direction: row;
      }

      & img {
        width: 24px;
        height: 24px;
        color: var(--fc-color-light-text-default);
      }

      & h2 {
        margin: 0;
        font-size: var(--fc-h2-fs);
        font-weight: 600;
        color: var(--fc-color-light-text-default);
      }
    }

    @include for-desktop {
      flex-direction: row;
    }
  }
}

.header-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include for-desktop {
    flex-direction: row;
  }

  &-primary {
    @include front-button;
    background-color: var(--color-buy-button);
    white-space: nowrap;
  }

  &-secondary {
    @include front-button;
    white-space: nowrap;
  }
}

.buy-together-wrapper {
  padding: 0 24px 24px;
}

.title-wrapper {
  .title {
    margin: 0 0 24px 0;
  }
}
