@import '../../style/mixins/button.scss';
@import '../../style/mixins/screen-media';
@import '../../style/mixins/spinner-loading.scss';

:host {
  display: block;
  width: 100%;
}

.loading-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  .spinner {
    @include lds-dual-ring;
  }
}

.live-shop {
  height: 100%;

  &-warmup {
    .banner-custom-style {
      padding: 40px;
      > .custom-card-content {
        width: 100%;
        max-width: 720px;
        height: auto;
        aspect-ratio: 16 / 9;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .live-shop-banner {
          background-color: #d9d9d9;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &-in-live {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .live-video-player {
      height: 229px;
      border-radius: 8px;
      overflow: hidden;
    }

    &-options {
      .in-live-custom-style .custom-card-content {
        width: 100%;
      }

      .in-live-custom-style-empty {
        padding: 40px;
        border: 1px solid var(--menu-items);
        border-radius: 8px;
      }

      .custom-card-content .live-video-chat {
        height: calc(100vh - 386px);
        border-radius: 8px;
        overflow: hidden;
      }
    }

    &-desktop {
      display: flex;
      justify-content: center;
      gap: 24px;
      padding: 88px 110px;

      &-infos {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &-options {
          display: flex;
          justify-content: space-between;

          &-title {
            margin: 0;
            font-family: var(--h1-ff);
            color: var(--menu-items);
            font-weight: 700;
            font-size: 24px;
            text-transform: uppercase;
          }

          &-button {
            @include front-button;
            background-color: var(--color-secondary);
            width: unset;
            font-weight: 500;
            text-transform: none;
            font-size: 14px;
          }

          &-chat {
            .live-video-chat {
              height: 768px;
              border-radius: 8px;
              overflow: hidden;
            }
          }
        }

        .live-video-player {
          height: 500px;
          width: 752.7px;
          border-radius: 8px;
          overflow: hidden;
        }
      }

      &-content {
        &-card {
          .in-live-custom-style-desktop {
            padding: 40px;
            border: 1px solid var(--menu-items);
            border-radius: 8px;

            .custom-card-content {
              display: none;
            }
          }
        }
      }
    }
  }

  &-finished {
    .button-custom-style {
      padding: 40px;
      max-width: 410px;
      margin: 0 auto;
      text-align: center;

      & button {
        @include front-button;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 14px;
      }
    }
  }
}
