@import '../variables/variables';

@mixin front-button {
  --bg-color-primary: var(--color-primary);
  --text-color: var(--color-white);
  all: unset;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  font-weight: 600;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-align: center;
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
