@import '../variables/variables';

@mixin front-checkbox {
  input[type='checkbox'] {
    --form-control-color: var(--color-primary);
    --form-control-disabled: var(--color-light-text-secondary);
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: var(--form-control-color);
    width: 18px;
    height: 18px;
    border: 1px solid var(--form-control-color);
    border-radius: 4px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type='checkbox']:checked {
    background-color: var(--form-control-color);
  }

  input[type='checkbox']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    background-color: var(--color-white);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }

  input[type='checkbox']:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
}
