@keyframes lds-dual-ring-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin lds-dual-ring {
  --spinner-color: var(--fc-color-secondary, #000);
  display: inline-block;
  width: 80px;
  height: 80px;
  &:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--spinner-color);
    border-color: var(--spinner-color) transparent var(--spinner-color) transparent;
    animation: lds-dual-ring-animation 1.2s linear infinite;
  }
}

@keyframes simple-spinner-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@mixin simple-spinner($loader-color: #e0e0e0, $loader-size: 5rem) {
  position: relative;
  height: $loader-size;
  width: $loader-size;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-width: calc($loader-size / 4) - 2;
    border-style: solid;
    border-top-color: transparentize($loader-color, 0.8);
    border-right-color: transparentize($loader-color, 0.8);
    border-bottom-color: transparentize($loader-color, 0.5);
    border-left-color: transparentize($loader-color, 0.5);
    transform: translateZ(0);
    animation: simple-spinner-animation 0.5s infinite linear;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
  }
}
