:host {
  display: inline-block;
  font-size: 14px;
  --gap-grid: 24px;
  --margin-width: 8px;
}

.product-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: var(--gap-grid) 0;
  grid-template-areas:
    'image'
    'info'
    'variations';
  &.-inline {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: var(--gap-grid);
    grid-template-areas:
      'image info'
      'variations variations';
  }
  color: var(--color-light-text-default);
}

.product-container > .info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > .title {
    display: inline-block;
    margin-bottom: var(--margin-width);
  }
  > .price {
    display: flex;
    flex-direction: column;
    .base {
      text-decoration: line-through;
      color: var(--color-light-text-secondary);
    }

    .current {
      font-size: 15px;
      font-weight: 700;
    }
  }
}

.product-container > .image {
  grid-area: image;
  display: inline-block;
  img {
    max-width: 400px;
    width: 100%;
    height: 100%;
  }
  &.-inline {
    height: 72px;
  }
}

.product-container > .variations {
  grid-area: variations;
  display: flex;
  flex-wrap: wrap;
  --variations-gap: calc(var(--margin-width) * 2);
  gap: var(--variations-gap);
  .item {
    min-width: calc(50% - var(--variations-gap));
    flex-grow: 2;
  }
}
