@import '../../../style/variables/variables';

:host {
  display: inline-block;
  font-size: 14px;
  width: 100%;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: var(--fc-gap-grid) 0;
  color: var(--fc-color-light-text-default);

  &.-inline {
    flex-direction: row;
    gap: var(--fc-gap-grid);
  }
}

.product-container > .info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > .title {
    display: inline-block;
    margin-bottom: var(--fc-margin-width);
    font-weight: 600;
  }
}

.product-container > .image {
  display: flex;
  align-self: center;
  max-width: 400px;
  max-height: 400px;
  justify-content: center;
  &.-inline {
    width: 100px;
    height: 100px;
    justify-content: center;
  }
}
