:host {
  display: inline-block;
  font-size: 14px;
  width: 100%;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: var(--fc-gap-grid) 0;
  color: var(--fc-color-light-text-default);

  &.-inline {
    flex-direction: row;
    gap: var(--fc-gap-grid);
  }
}

.product-container > .info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > .title {
    display: inline-block;
    margin-bottom: var(--fc-margin-width);
    font-weight: 600;
  }
  > .price {
    display: flex;
    flex-direction: column;
    .base {
      text-decoration: line-through;
      color: var(--fc-color-light-text-secondary);
    }

    .current {
      font-size: 15px;
      font-weight: 700;
    }
  }
}

.product-container > .image {
  display: flex;
  align-self: center;
  max-width: 400px;
  max-height: 400px;
  justify-content: center;
  &.-inline {
    width: 100px;
    height: 100px;
    justify-content: center;
  }
}

.highlight-custom-style .product-container {
  display: flex;
  gap: 12px;
  padding: 24px;
}

.highlight-custom-style .product-container > .info {
  > .price {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    > .base,
    .current {
      font-weight: 400;
      font-size: 14px;
    }
  }
}

.highlight-custom-style .product-container > .image {
  height: 48px;
  width: 48px;
  border: 1px solid #dee2e6;
  border-radius: 4px;

  > .image-container {
    > img {
      border-radius: 3px;
    }
  }
}

.highlight-custom-style .product-container > .image .image-container.-is-loading {
  min-width: 48px;
  min-height: 48px;
}
