* {
  --fc-font-family: var(--m-ff);
  --fc-border-radius: 4px;
  --fc-color-primary: var(--color-primary, #ff4295);
  --fc-color-white: var(--white, #fff);
  --fc-h2-fs: var(--h2-fs, 18px);
  --fc-h2-fw: var(--h2-fw, 600);
  --fc-h2-ls: var(--h2-ls, 0px);
  --fc-color-light-text-default: #343a40;
  --fc-color-light-text-secondary: #6d747a;
  --fc-color-light-border-default: #dee2e6;
  --fc-gap-grid: 24px;
  --fc-margin-width: 8px;
}
