* {
  --font-family: 'Montserrat', sans-serif;
  --color-light-text-default: #343a40;
  --color-light-text-secondary: #6d747a;
  --color-light-border-default: #dee2e6;
  --gap-grid: 24px;
  --margin-width: 8px;
}
