:root {
  --font-family: 'Montserrat', sans-serif;
  --color-light-text-default: #343a40;
  --color-light-text-secondary: #6d747a;
  --color-light-border-default: #dee2e6;
  font-family: var(--font-family);
}

figure {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
