:root {
  --m-ff: 'Bai Jamjuree', sans-serif;
  --m-fs: 14px;
  --m-fw: 600;
  --m-ls: 1px;
  --m-tt: uppercase;
  --h1-ff: 'Bai Jamjuree', sans-serif;
  --h1-fs: 42px;
  --h1-fw: 700;
  --h1-ls: 0px;
  --h1-tt: none;
  --h2-ff: 'Bai Jamjuree', sans-serif;
  --h2-fs: 18px;
  --h2-fw: 600;
  --h2-ls: 0px;
  --h2-tt: none;
  --h3-ff: 'Bai Jamjuree', sans-serif;
  --h3-fs: 18px;
  --h3-fw: 500;
  --h3-ls: 0px;
  --h3-tt: none;
  --tx-ff: 'Roboto', sans-serif;
  --tx-fs: 14px;
  --tx-fw: regular;
  --tx-ls: 0px;
  --tx-tt: none;
  --color-primary: #47362d;
  --color-secondary: #9c7453;
  --color-border: #e1e1e1;
  --color-highlight: #b4885c;
  --color-buy-button: #fbc37b;
  --color-buy-button-text: #ffffff;
  --color-text: #242424;
  --header-background: white;
  --header-icons: #000000;
  --header-cart: #47362d;
  --header-text: #242424;
  --header-fixed-background: white;
  --header-fixed-icons: #000000;
  --header-fixed-cart: #47362d;
  --header-fixed-text: #242424;
  --menu-background: white;
  --menu-items: #47362d;
  --border-color: #47362d;
  --border-opacity: 0;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-family: var(--font-family);
}

div {
  box-sizing: border-box;
}

figure {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
