@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
  --font-family: 'Montserrat';
  --color-light-text-default: #343a40;
  --color-light-text-secondary: #6d747a;
  font-family: 'Montserrat';
}
