@import '../../../style/variables/variables.scss';

:host {
  display: inline-block;
  width: 100%;
}

.product-price-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.payment-option {
  font-size: 14px;

  .price-compare {
    text-decoration: line-through;
    color: var(--fc-color-light-text-secondary);
  }

  .price-current {
    .highlight {
      font-weight: bold;
    }
  }

  &-simple,
  &-billet,
  &-pix {
    display: flex;
    flex-direction: column;

    .highlight {
      font-size: 16px;
    }
  }

  &-creditCard {
    display: flex;
    flex-direction: column;
  }
}
