@import '../../../style/variables/variables.scss';

:host {
  display: inline-block;
  width: 100%;
}

.product-price {
  display: flex;
  flex-direction: column;

  &-base {
    text-decoration: line-through;
    color: var(--fc-color-light-text-secondary);
  }

  &-current {
    font-size: 15px;
    font-weight: 700;
  }
}
