@import '../../style/variables/variables';

:host {
  display: inline-block;
  width: 100%;
}

.launch-countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fc-color-secondary);
  padding: var(--fc-gap-grid);
  border-radius: var(--fc-border-radius);

  > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fc-color-white);
    background-color: transparent;
    margin-bottom: 16px;
    line-height: 1.5;

    > .title {
      margin: 0;
      margin-bottom: 4px;
      font-weight: var(--fc-m-fw);
    }

    > .description {
      margin: 0;
      font-size: 12px;
    }
  }

  > .timer {
    display: flex;
    gap: 16px;

    > .cell {
      border-radius: 16px;
      background-color: #fff;
      color: var(--fc-color-secondary);
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 80px;
      padding: 6px;

      > .time {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
      }

      > .unit {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
